<div class="app-container">
  <!-- Header -->
  <header class="app-header">
    <div class="container">
      <h1 class="app-title">
        <i class="fas fa-graduation-cap"></i>
        {{ title }}
      </h1>
      <nav class="app-nav">
        <ul>
          <li>
            <a routerLink="/alunos" routerLinkActive="active">
              <i class="fas fa-users"></i>
              Alunos
            </a>
          </li>
          <li>
            <a routerLink="/alunos/dashboard" routerLinkActive="active">
              <i class="fas fa-chart-line"></i>
              Dashboard
            </a>
          </li>
          <li>
            <a routerLink="/alunos/importar" routerLinkActive="active">
              <i class="fas fa-file-import"></i>
              Importar Alunos
            </a>
          </li>
          <li>
            <a routerLink="/alunos/exportar" routerLinkActive="active">
              <i class="fas fa-file-export"></i>
              Exportar Alunos
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Loading Spinner Global -->
  <ng-container *ngIf="isLoading$ | async as isLoading">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</ng-container>

  <!-- Conteudo principal -->
  <main class="app-main">
    <div class="container">

      <app-notification></app-notification>


      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- Footer -->
  <footer class="app-footer">
    <div class="container">
      <p>&copy; 2025 Desenvolvido por Pablo Batista.</p>
    </div>
  </footer>
</div>