# Maven / IntelliJ / Eclipse / NetBeans / VSCode
target/
.classpath
.project
.settings/
.idea/
*.iml
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd
.factorypath
.springBeans
.sts4-cache
.apt_generated
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
out/

# Logs e arquivos temporários
*.log
*.zip
*.tar.gz
*.tar
*.rar
*.7z
*~
*.swp

# Cobertura de testes
coverage/
jacoco.exec
*.ec
*.coverage

# System files globais (caso clone direto em Windows/Mac)
.DS_Store
Thumbs.db
